rsa.newkeys() always produce 65537 as e value

OS: Windows 10 version 1809 (build 17763.55)
Python version 3.7.1 on 64-bit machine
RSA version 4.0

The attempt to generate new key pair via rsa.newkeys() like below:
`print(rsa.newkeys(2048)[0].e)`
always produce an e value of 65537.

This is a description of current behaviour, and not the description of a problem. What is the problem?

Shouldn't the value of e produce a randomized large positive integer each time the function is called?
From what I know, the value of e is used in the exponent of (m^e)^d = m (mod n) and is unique for each generated pair.

This is not a problem, as `d` is sufficiently random. As a matter of fact, [section 3.3.1 of RFC 4871](https://www.ietf.org/rfc/rfc4871.txt) states "The signing algorithm SHOULD use a public exponent of 65537".


I see. I will refer to the specifications in the future.
Thank you for pointing that out.